@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Black';
    src: url('../fonts/OpenSans-ExtraBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Bold';
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Black';
    src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Light';
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif Bold';
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Francois One';
    src: url('../fonts/FrancoisOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

:root {
	--dark-red: rgb(192,0,0);
	--main-red-bg: rgb(192,0,0);
	--dark-blue: #02659f;
	--light-blue: #2ba6ff;
	--light-grey-bg: #f9f9f9;
	--light-grey-border: #bbbb;
	--middle-grey: #e7e7e7;
	--dark-grey-border: #828282ba;
	--main-bg: white;
	--main-text-color: black;
	--link-color: var(--dark-blue);
	--card-headline: var(--main-text-color);
}

html {
	margin: 0px;
	padding: 0px;
}

header { /* actually deprecated */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: white;
	border-bottom: 1px solid #eeee;
	z-index: 10;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	max-width: 100%;
	height: 70px;
	background-color: var(--main-bg);
	border-bottom: 1px solid #dcdcdced; /* deprecated */
	border-bottom-color: var(--light-grey-border);
	z-index: 10;
	margin-top: calc(100vh - 110px);
	margin-top: 100vh;
}

.header-regular {
	position: fixed;
	margin-top: 0px;
}

.header-centre {
	width: 300px;
	height: 70px;
	margin: auto;
	display: grid;
	place-content: center;
	cursor: pointer;
}

.header-centre-inner {
	display: grid;
	width: 100%;
	height: 70px;
	grid-template-columns: auto auto;
	text-decoration: none;
}

.header-right {
	width: 20px;
	height: 70px;
	position: absolute;
	right: 50px;
	vertical-align: middle;
}

.header-flag {
	height: 30px;
	width: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.flag-de-darkmode {
	display: none;
}

.logo {
	height: 50px;
	width: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.headline {
	margin-left: 10px;
	line-height: 70px;
	vertical-align: middle;
	color: var(--main-text-color);
	font-family: 'Fredoka One';
	font-size: 1.8rem;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*margin-top: 70px;*/
	padding-top: 40px;
	background-color: var(--main-bg);
}

.body-regular {
	margin-top: 0px;
}

.top-background {
	width: 100vw;
	max-width: 100%;
	height: calc(100vh);
	background-color: var(--main-red-bg);
	margin-bottom: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	margin: 0px;
	padding: 0px;
}

.top-splitter {
	width: clamp(250px,750px,95vw);
	display: grid;
	grid-template-columns: auto 500px;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.top-triangle {
	color: white;
	font-size: 200px;
	grid-column: 1;
	margin-right: 50px;
	transform: translate(0,-0.04em);
}

.top-text {
	grid-column: 2;
	display: block;
}

.top-headline {
	font-family: 'Merriweather Black';
	letter-spacing: -1px;
	color: white;
	font-weight: bold;
	font-size: 4rem;
	display: block;
	margin-bottom: 20px;
}

.top-description {
	color: white;
	font-family: 'Open Sans';
	font-size: 1rem;
}

.top-info {
	width: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 20px;
	color: white;
	font-size: 2.5em;
}

section {
	width: clamp(250px,600px,95vw);
	margin: auto;
	margin-bottom: 40px;
	color: var(--main-text-color);
}

.section-top {
	margin-top: 60px;
}

.section-top-regular {
	margin-top: 40px;
}

.content-headline {
	color: var(--dark-red);
	font-size: 2.2rem;
	letter-spacing: -1px;
	font-family: 'Merriweather Black';
	display: inline-block;
	margin-bottom: 30px;
	font-weight: bold;
}

.content-headline-regular {
	margin-bottom: 0px;
	margin-top: 30px;
}

.article-headline {
	color: var(--dark-red);
	font-family: 'Merriweather Black';
	font-size: 1.8rem;
	letter-spacing: -1px;
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
	line-height: 1.2em;
}

.article-subheadline {
	display: block;
	margin-top: 50px;
	font-weight: bold;
	color: var(--dark-red);
	font-family: Merriweather Black;
	font-size: 1.2em;
}

.article-subheadline-top {
	margin-top: 30px;
}

article {
	padding: 2em;
	width: calc(100%);
	transform: translate(-2em,0);
	font-family: 'Open Sans';
	font-size: 1rem;
	color: var(--main-text-color);
	border-radius: 10px;
	margin-bottom: 0px;
	line-height: 1.5em;
}

.article-red {
	background-color: var(--main-red-bg);
	color: white;
	margin-bottom: 10px;
}

.link {
	color: var(--link-color);
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 1px;
}

.button-pwa {
	display: none;
}

figure {
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid var(--light-grey-border);
	width: 100%;
	border-radius: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

figure img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	vertical-align: middle;
}

figure figcaption {
	font-family: Open Sans;
	font-size: 0.8em;
	background-color: var(--light-grey-bg);
	padding: 10px;
	display: block;
	border-top: 1px solid var(--light-grey-border);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	line-height: initial;
}

details summary {
	margin-top: 10px;
	color: var(--link-color);
	font-family: 'Fredoka One';
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
}

.details {
	display: block;
	background-color: var(--light-grey-bg);
	padding: 1em;
	border-radius: 5px;
	border: 1px solid var(--light-grey-border);
	margin-top: 10px;
}

.teaser {
	font-family: Open Sans;
	background-color: var(--light-grey-bg);
	padding: 2em;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	display: grid;
	grid-template-columns: auto auto;
	text-decoration: none;
}

.teaser:hover {
	transform: translate(0.5em,0);
	transition: ease-in-out 0.1s;
}

.teaser-blue {
	background: linear-gradient(110deg, rgba(1,175,196,1) 0%, rgba(3,89,199,1) 100%);;
	color: white;
}

.teaser-red {
	background: linear-gradient(110deg, rgb(232, 1, 1) 0%, rgb(154, 40, 1) 80%);
	color: white;
}

.teaser-green {
	background: linear-gradient(110deg, rgba(19,179,0,1) 0%, rgba(21,111,0,1) 100%);
	color: white;
}

.teaser-left {
	grid-column: 1;
	margin-right: 1em;
}

.teaser-headline {
	font-size: 1.6em;
	font-weight: bold;
	font-family: Merriweather Black;
}

.teaser-description {
	margin: 0px;
	hyphens: auto;
}

.teaser-right {
	grid-column: 2;
}

.teaser-arrow {
	font-size: 40px;
	display: block;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.x-scroll {
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	margin-top: 5px;
}

.x-scroll-inner {
	width: max-content;
	padding: 5px;
	background-color: var(--middle-grey);
	border-radius: 5px;
	border: 1px solid var(--light-grey-border);
}

.important {
	font-weight: bold;
	font-family: 'Fredoka One';
	font-size: 110%;
}

.card-container-outer {
	width: min-content;
	max-width: 95vw;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
}

.card-container {
	width: min-content;
	height: auto;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3,230px);
	grid-gap: 30px;
}

.card-container-headline {
	color: var(--dark-red);
	font-family: 'Merriweather Black';
	font-size: 1.8rem;
	letter-spacing: -1px;
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
}

.card {
	width: 230px;
	height: auto;
	display: flex;
	flex-flow: column;
	border: 1px solid var(--light-grey-border);
	border-radius: 10px;
	background-color: var(--light-grey-bg);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	transition: ease-in-out 0.2s;
}

.card:hover {
	border-color: var(--dark-grey-border);
	transition: ease-in-out 0.2s;
}

.card:active {
	border-color: var(--dark-blue);
	box-shadow: var(--light-blue) 0px 0px 4px;
}

.card-img {
	width: calc(100% + 20px);
	transform: translate(-10px,0);
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid var(--light-grey-border);
}

.card-headline {
	font-size: 1em;
	font-family: 'Open Sans';
	font-weight: bold;
	color: var(--card-headline);
	text-decoration: none;
	margin-top: 10px;
	cursor: pointer;
}

.card-flag {
	height: 1.3em;
	width: auto;
	cursor: pointer;
	vertical-align: middle;
	transform: translate(0,-1px);
}

.card-description {
	font-size: 0.8em;
	font-family: 'Open Sans';
	color: var(--main-text-color);
	text-decoration: none;
	cursor: pointer;
}

.card-description a {
	text-decoration: none;
	color: var(--main-text-color);
}

.card-link {
	font-size: 0.9em;
	font-family: 'Open Sans';
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

footer {
	width: 100vw;
	height: 70px;
	background-color: var(--dark-blue);
	max-width: 100%;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.footer-inner {
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.footer-link-outer {
	color: white;
	font-family: 'Open Sans';
	font-size: 1em;
	text-decoration: none;
	padding: 10px;
}

.footer-link {
	font-weight: bold;
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 1px;
	color: white;
}

.footer-link:hover {
	text-decoration: none;
}

@media (prefers-color-scheme: dark){
	:root {
		--dark-red: var(--warn-yellow);
		--dark-blue: #02659f;
		--light-blue: #2ba6ff;
		--light-grey-bg: #2a2a2a;
		--light-grey-border: #5d5d5dba;
		--middle-grey: #464646;
		--dark-grey-border: #828282ba;
		--warn-yellow: #f6bd16;
		--main-bg: black;
		--main-text-color: white;
		--link-color: #70caff;
	}
	
	.flag-de {
		display: none;
	}
	
	.flag-de-darkmode {
		display: inline-block;
	}
}

@media (orientation: landscape){
	.top-background {
		min-height: 340px;
	}
	
	@media (max-width: 800px){
		.top-background {
			min-height: 430px;
		}
	}
}

@media (orientation: portrait){
	.top-background {
		min-height: 500px;
	}
	
	.top-triangle {
		font-size: 100px;
	}
}

@media (max-width: 800px){
	.top-splitter {
		width: 480px;
		grid-template-rows: auto auto;
		grid-template-columns: auto;
	}

	.top-triangle {
		margin-right: 0px;
		grid-row: 1;
		text-align: center;
		font-size: 100px;
	}

	.top-text {
		grid-column: 1;
		grid-row: 2;
		text-align: center;
	}

	.top-headline {
		text-align: center;
	}
	
	.card-container-outer {
		overflow-x: scroll;
	}
}

@media (max-width: 740px){
	.footer-dot {
		display: none;
	}
	
	footer {
		height: auto;
	}
	
	.footer-inner {
		display: grid;
		transform: translate(0,0);
	}
	
	.footer-link-additional::before{
		content: "\a";
		white-space: pre;
	}
}

@media (max-width: 720px){
	article {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		transform: translate(0,0);
	}
	
	.article-red {
		padding: 2em;
		width: calc(100% - 4em);
		transform: translate(0,0);
	}	
}
	
@media (max-width: 500px){
	.top-splitter {
		width: 95vw;
	}
	
	.top-triangle {
		font-size: 100px;
	}
	
	.teaser-arrow {
		transform: translate(0.5em,-50%);
	}
}

@media (max-width: 450px){
	.header-right {
		right: 25px;
	}
}

@media (max-width: 320px){
	.header-centre {
		width: min-content;
		margin-left: 10px;
	}
}

@media (max-width: 270px){
	.header-right {
		display: none;
	}
}