@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Black';
    src: url('../fonts/OpenSans-ExtraBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Bold';
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Black';
    src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Light';
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif Bold';
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf') format('truetype');
}

html {
	background-color: black;
	font-family: 'Open Sans';
	color: white;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	text-align: center;
	background-color: #002560;
	z-index: 10;
}

.navbutton {
	display: none;
	line-height: 60px;
	vertical-align: middle;
	position: absolute;
	left: 20px;
	font-size: 30px;
	color: white;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -20px
}

.infobutton {
	display: inline;
	line-height: 60px;
	vertical-align: middle;
	position: absolute;
	right: 20px;
	font-size: 24px;
	color: white;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: -20px
}

.header-logo {
	height: 40px;
	width: auto;
	cursor: pointer;
	transform: translate(0, 9px);
}

.header-titel {
	font-size: 25px;
	margin-left: 15px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

nav {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 5;
	position: fixed;
	top: 60px;
	left: 0px;
	background-color: #303030;
	overflow: hidden;
}

.nav-aktiv {
	display: block;
}

nav ul {
	width: 300px;
	max-width: 100%;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	height: calc(100% - 100px);
}

body {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

.article-outer {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 100px;
}

.inhalt {
	width: 700px;
	line-height: 1.6;
	font-size: 20px;
	font-family: 'Noto Serif';
	text-align: left;
	hyphens: auto;
	color: rgb(170,170,170);
	grid-column: 1;
}

.inhalt-top {
	margin-bottom: 0px;
}

.inhaltsvz {
	margin-left: 120px;
	position: sticky;
	top: 120px;
	grid-column: 2;
	height: 500px;
}

.inhaltsvz-titel {
	font-size: 25px;
	font-family: 'Merriweather Black';
	color: white;
}

.inhaltsvz-eintrag {
	color: rgb(170,170,170);
	text-decoration: none;
	text-underline-position: under;
	line-height: 2;
	border-color: rgb(80,80,80);
	border-bottom-style: solid;
	border-width: 1px;
	padding-bottom: 10px;
	margin-bottom: -12px;
	display: block;
	line-height: 1;
	transition: 0.3s;
}

.inhaltsvz-eintrag-nav {
	padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 3;
}

.inhaltsvz-eintrag:last-of-type {
	border-style: none;
}

.inhaltsvz-eintrag:hover {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

.link {
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-underline-position: under;
	text-underline-offset: 1px;
}

.link:hover {
	text-decoration: none;
}

titel {
	font-family: 'Merriweather Bold';
	font-size: 50px;
	line-height: 1.4;
	color: white;
	margin-top: 0px;
}

.beschreibung {
	font-family: 'Open Sans';
	font-size: 30px;
	line-height: 1.4;
	color: white;
}

h2 {
	font-size: 28px;
	color: #facc2e;
}

.erste-h2 {
	margin-top: 0px;
}

.anmerkung {
	font-size: 15px;
	font-family: 'Open Sans';
	color: #969696;
	padding: 20px;
	background-color: #282828;
	border-radius: 5px;
	border-color: #6d6d6d;
	border-width: 6px;
	border-left-style: solid;
	display: inline-block;
}

.anmerkung-lighter {
	background-color: #333;
}

.anmerkung-sprache {
    font-size: 15px;
	font-family: 'Open Sans';
	display: flex;
	margin-bottom: 20px;
}

.anmerkung-sprache-flagge {
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 6px;
	height: auto;
	display: inline-block;
	position: relative;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.asf-de {
	background-image:url("../img/de.svg");
}

.anmerkung-sprache-text {
	color: #969696;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #282828;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.zitat {
	display: block;
	color: rgb(210,210,210);
	font-size: 30px;
	font-family: 'Titillium';
	width: 100%;
	transform: translate(-50px, 0%);
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	background-color: #333;
}

.zitat-icon {
	float: left;
	font-size: 80px;
	padding-top: 4px;
	padding-right: 20px;
	padding-left: 0px;
}

.zitat-quelle {
	font-size: 20px;
	color: rgb(210,210,210);
	font-family: 'Noto Serif';
	margin-top: 30px;
	text-align: right;
	display: block;
}

.verweis-div {
	display: flex;
	flex-wrap: wrap;
}

.verweis {
	display: inline-grid;
	grid-template-columns: auto auto;
	background-color: #333;
	border-radius: 10px;
	cursor: pointer;
	text-align: left;
	padding-left: 15px;
    padding-right: 40px;
	transition: 0.3s;
	height: 80px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 20px;
}

.verweis:hover {
	background-color: #393939;
	transition: 0.3s;
}

.verweis-logo {
	height: 50px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	margin-right: 15px;
	grid-column: 1;
}

.verweis-text {
	font-family: 'Merriweather Black';
	color: white;
	grid-column: 2;
	vertical-align: middle;
	padding-top: 25px;
	text-decoration: none;
}

ib {
	font-weight: bold;
	font-style: italic;
	color: white;
}
	
.infobox-inner-followme {
	padding: 0px !important;
	background: none !important;
	grid-column: 2;
}

#followme {
	padding-top: 65px;
	margin-top: -65px;
}

.follow-me {
	width: 100%;
	height: 120px;
	background: rgb(0,61,255);
	background: linear-gradient(90deg, rgba(0,61,255,1) 0%, rgba(0,241,255,1) 100%); 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.follow-me-text {
	height: 50px;
	width: auto;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.middlediv {
	width: 100%;
	margin-top: 0px;
	height: auto;
	display: grid;
	grid-template-rows: auto auto auto;
	color: white;
	position: relative;
	background-color: #282828;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.middlediv1 {
	padding: 40px;
	grid-row: 1;
	border-radius: 10px;
	height: auto;
}

.middlediv2 {
	padding: 40px;
	grid-row: 3;
	height: auto;
}

.middlediv1inner {
	width: 100%;
	display: grid;
	grid-template-rows: 100px auto;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}

.middlediv2inner {
	width: 850px;
	display: grid;
	grid-template-rows: 100px auto auto;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}

.middledivtitel {
	grid-row: 1;
}

.middledivunten {
	grid-row: 2;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: auto auto auto;
}

.middledivuntenunten {
	grid-row: 3;
	margin-top: 20px;
	display: flex
}

.middlediv2unten {
	grid-row: 2;
	display: grid;
	grid-template-columns: auto;
}

.middlediv-part {
	margin-right: 20px;
	margin-bottom: 20px;
}

.middledivtitelinner {
	display: inline-block;
	background-color: #333;
	border-radius: 10px;
	cursor: pointer;
	text-align: left;
	padding-left: 30px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
	transition: 0.3s;
}

.middledivtitelinner:hover {
	background-color: #393939;
	transition: 0.3s;
}

.middledivtitelinnerinner {
	display: grid;
	grid-template-columns: auto auto;
}

.middlediv-p-img-div {
	grid-column: 1;
}

.middlediv-p-img-titel-div {
	grid-column: 2;
	margin-left: 15px;
}

.middledivpb {
	width: 60px;
	height: auto;
}

.middledivtiteltext {
	color: white;
	font-size: 40px;
	font-family: 'Merriweather Bold';
	font-weight: bold;
	vertical-align: 15px;
	line-height: 10px;
	margin-left: 20px;
}

.middlediv-p-img {
	height: 40px;
	width: auto;
	position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.middlediv-p-img-titel {
	font-family: 'Merriweather Bold';
	font-size: 20px;
	font-weight: bold;
	display: block;
	color: white;
	text-decoration: none;
}

.middlediv-p-img-text {
	font-family: 'Open Sans';
	font-size: 13px;
	color: white;
	text-decoration: none;
}

.infobox {
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 130px auto;
}

.infobox-icon-div {
	grid-column: 1;
}

.infobox-icon {
	font-size: 80px;
	color: #4a4a4a;
}

.infobox-inner {
	background-color: #282828;
	border-radius: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 2;
}

.infobox-titel {
	font-size: 40px;
	font-family: 'Merriweather Black';
}

.kontaktoption-outer {
	display: flex;
}

.kontaktoption {
	color: white;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #397100;
	display: inline-block;
	border-style: solid;
	border-color: #397100;
	border-width: 1px;
}

.kontaktoption-titel {
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #333;
}

.kontaktoption-link, .kontaktoption-sicher {
	color: white;
	text-decoration: none;
}

.kontaktoption-sicher {
	padding: 7px;
}

footer {
	margin-top: 30px;
	border-radius: 10px;
	width: 100%;
	height: auto;
	background-color: #002560;
	position: relative;
	left: 0;
	bottom: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: justify;
	hyphens: auto;
}

.footer-text {
	width: 400px;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	color: #9eabba;
}

.privacy-hinweis {
	color: #9eabba;
}

.id-ziel:target::before {
	content: "";
	display: block;
	height: 60px; /* fixed header height*/
	margin: -60px 0 0; /* negative fixed header height */
}

@media (max-width: 1160px){
	.navbutton {
		display: inline;
	}
	
	.infobutton {
		display: none;
	}
	
	body {
		width: calc(100% - 200px);
		margin-left: auto;
		margin-right: auto;
	}
	
	.article-outer {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
	
	.inhaltsvz {
		height: auto;
		width: 300px;
		max-width: 100%;
		grid-row: 1;
		grid-column: 1;
		margin-left: 0px;
		position: relative;
		top: 0px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.inhalt {
		width: 700px;
		max-width: 90%;
		grid-row: 2;
	}
	
	.infobox {
		display: block;
		width: 100%;
	}
	
	.infobox-icon-div {
		display: none;
	}
	
	footer {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.footer-text {
		width: calc(100% - 50px);
	}
}

@media (max-width: 850px){
	body {
		width: calc(100% - 100px);
	}
	
	.inhalt {
		width: 80%;
	}
	
	.zitat {
		max-width: calc(100% - 100px);
		margin-left: 50px;
	}
}

@media (max-width: 750px){
	.kontaktoption-titel {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	
	.kontaktoption{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 700px){
	.follow-me-text {
		width: calc(100% - 40px);
		height: auto;
	}
	
	.inhalt {
		width: 100%;
		max-width: 100%;
	}
	
	.verweis {
		display: flex;
		width: 100%;
	}
	
	.verweis-logo {
		max-width: 60px;
	}
	
	.infobox-inner {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.middlediv1 {
		padding: 0px;
		padding-left: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
		max-width: calc(100% - 100px);
	}
	
	.middlediv-part {
		width: calc(100% - 50px);
	}
	
	.middledivtitelinner {
		display: flex;
	}
	
	.kontaktoption {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.zitat {
		padding: 30px;
	}
}

@media (max-width: 600px){
	body {
		width: calc(100% - 50px);
	}
}

@media (max-width: 560px){
	.kontakt-id {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 120px;
		display: inline-block;
		position: relative;
		top: 2px;
		line-height: 1;
		padding-bottom: 5px;
		margin-bottom: -5px;
	}
}

@media (max-width: 540px){
	.kontaktoption-outer {
		display: grid;
		grid-template-rows: auto auto;
		text-align: center;
	}
	
	.kontaktoption-titel {
		grid-row: 1;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	
	.kontaktoption {
		grid-row: 2;
		border-radius: 0;
	}
}

@media (max-width: 450px){
	body {
		width: calc(100% - 20px);
	}
}

@media (orientation: portrait){
	.inhaltsvz-eintrag {
		font-size: 20px;
	}
	
	.inhaltsvz-eintrag:not(.inhaltsvz-eintrag-nav) {
		line-height: 2;
	}
	
	.zitat {
		padding: 20px;
	}
}