				<a class="card" href="%#url#%">
					<img class="card-img" src="%#imgsrc#%" alt="%#imgalt#%">
					<span class="card-headline">
						<img alt="%?german?%" class="card-flag flag-de" src="../emojis/de.svg" title="%?ingerman?%"> 
						<img alt="%?german?%" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="%?ingerman?%"> %#title#%
					</span>
					<p class="card-description">
						%#description#%
					</p>
					<span class="card-link">
						%#domain#%
					</span>
				</a>