				<a class="card" href="%#url#%">
					<img class="card-img" src="%#imgsrc#%" alt="%#imgalt#%">
					<span class="card-headline">
						<img alt="%?english?%" class="card-flag" src="../emojis/uk.svg" title="%?inenglish?%"> %#title#%
					</span>
					<p class="card-description">
						%#description#%
					</p>
					<span class="card-link">
						%#domain#%
					</span>
				</a>