@media (prefers-color-scheme: dark) {
	html {
		background-color: #272727;
	}
	
	#body, #untendiv {
		background-color: #38383d;
	}
	
	#legal {
		background-color: #414141;
	}

	#body {
		border: none;
	}

	#headlineinner {
		background-color: #0c0c0d;
	}

	.label {
		color: #f9f9fa;
	}

	input, textarea {
		background-color: #4a4a4f;
		color: white;
		border-color: #676767 !important;
	}
	
	.textfeld, .textarea {
		background-color: #4a4a4f !important;
	}

	.textfeld:hover, .textarea:hover {
		border-color: #777777 !important;
	}

	.textfeld:focus, .textarea:focus {
		border-color: #0a84ff !important;
		box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
		background-color: #4a4a4f;
	}
	
	.textfeld::placeholder, .textarea::placeholder {
		color: white;
	}

	.toggleselected {
		color: #63afff;
		border-bottom-color: #63afff;
	}

	.togglenotselected {
		color: #a8a8a8;
	}

	.togglenotselected:hover {
		border-bottom-color: rgba(255, 255, 255, 0.2);
	}

	#passwortanzeigen-outer {
		background: linear-gradient(90deg, rgba(74,74,79,0) 0%, rgba(74,74,79,0.6) 20%, rgba(74,74,79,0.8) 30%, rgba(74,74,79,1) 40%) !important;
	}

	#weiter {
		color: #63afff;
		border-color: #63afff;
	}

	.angefasst:invalid {
		box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3) !important;
		border-color: #d70022 !important;
		background-color: #4a4a4f;
	}

	.error, .error:focus, .error:hover {
		box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3) !important;
		border-color: #d70022 !important;
	}

	.warning, .warning:hover, .warning:focus {
		border-color: #d7b600 !important;
		box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, 0.3) !important;
	}

	#download-addon {
		border-color: #777777;
	}

	#download-addon:hover {
		background-color: #444;
	}
	
	.darkmode-span {
		display: none !important;
	}
	
	.lightmode-span {
		display: inline-block !important;
	}
	
	.link {
		color: #aeaeae;
	}
	
	.link-span {
		border-color: #777777;
	}
}