				<a class="card" href="https://security.berkeley.edu/faq/phishing">
					<img class="card-img" src="../img/berkeley.png" alt="Berkeley-Uni-Logo">
					<span class="card-headline">
						<img alt="Englisch" class="card-flag" src="../emojis/uk.svg" title="Auf Englisch"> Häufig gestellte Fragen über Phishing
					</span>
					<p class="card-description">
						Die Berkeley-Universität beantwortet die wichtigsten Fragen zu Phishing-Angriffen.
					</p>
					<span class="card-link">
						security.berkeley.edu
					</span>
				</a>


