				<a class="card" href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Cyber-Sicherheitslage/Methoden-der-Cyber-Kriminalitaet/Spam-Phishing-Co/Passwortdiebstahl-durch-Phishing/Wie-erkenne-ich-Phishing-in-E-Mails-und-auf-Webseiten/wie-erkenne-ich-phishing-in-e-mails-und-auf-webseiten_node.html">
					<img class="card-img" src="../img/bsi.png" alt="BSI">
					<span class="card-headline">
						<img alt="Deutsch" class="card-flag flag-de" src="../emojis/de.svg" title="Auf Deutsch"> 
						<img alt="Deutsch" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="Auf Deutsch"> Wie erkenne ich Phishing-E-Mails und -Webseiten?
					</span>
					<p class="card-description">
						Das Bundesamt für Sicherheit in der Informationstechnik erklärt in einem anschaulichen Video, wie Phishing funktioniert und woran man es erkennt.
					</p>
					<span class="card-link">
						bsi.bund.de
					</span>
				</a>


