				<a class="card" href="https://security.berkeley.edu/faq/phishing">
					<img class="card-img" src="../img/berkeley.png" alt="Berkeley University's logo">
					<span class="card-headline">
						<img alt="English" class="card-flag" src="../emojis/uk.svg" title="In English"> Frequently Asked Questions about Phishing
					</span>
					<p class="card-description">
						Berkeley University answers the most important questions about phishing.
					</p>
					<span class="card-link">
						security.berkeley.edu
					</span>
				</a>