		<footer>
			<div class="footer-inner">
				<span class="footer-link-outer">© <a class="footer-link" href="https://codeberg.org/pixelcode">Pixelcode</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer"><a class="footer-link" href="https://codeberg.org/pixelcode/PhishWarn">Source code</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer"><a class="footer-link" href="https://pixelcode.codeberg.page/#followme">Contact</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer">Licensed under the <a class="footer-link footer-link-additional" href="https://codeberg.org/pixelcode/pages/raw/branch/master/For%20Good%20Eyes%20Only%20Licence%20v0.1.pdf">For Good Eyes Only Licence</a></span>
			<div>
		</footer>	