				<a class="card" href="https://www.consumer.ftc.gov/articles/how-recognize-and-avoid-phishing-scams#recognize">
					<img class="card-img" src="../img/ftc-preview.png" alt="Federal Trade Commission">
					<span class="card-headline">
						<img alt="English" class="card-flag" src="../emojis/uk.svg" title="In English"> How To Recognize and Avoid Phishing Scams
					</span>
					<p class="card-description">
						Scammers use email or text messages to trick you into giving them your personal information. But there are several things you can do to protect yourself.
					</p>
					<span class="card-link">
						consumer.ftc.gov
					</span>
				</a>