	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="author" content="%#metaauthor#%"/>
		<meta name="copyright" content="%#metacopyright#%">
		<meta name="description" content="%#metadescription#%"/>
		<meta name="subject" content="Software development">
		<meta name="language" content="%#lang#%">
		
		<title>%#title#%</title>
		<link href="../img/phishwarn-icon.png" rel="icon" type="image/png">
		<link href="../css/phishwarn.css" type="text/css" rel="stylesheet">
		<link href="../css/font-awesome.css" rel="stylesheet">
		<link href="../css/bi.css" type="text/css" rel="stylesheet">
		<link href="../css/twemojis.css" rel="stylesheet">
		<!--<link rel="manifest" href="../static/phishwarn.webmanifest">-->
	</head>