		<div class="header">
			<div class="header-centre">
				<a class="header-centre-inner" href="%?homelink?%">
					<img class="logo" src="../img/phishwarn-logo.png" alt="Logo">
					<span class="headline">PhishWarn</span>
				</a>
				
				<div class="header-right">
					<a href="index.html" title="Englisches Original">
						<img class="header-flag" src="../emojis/uk.svg" alt="Englisch">
					</a>
				</div>
			</div>
		</div>