		<div class="header header-regular">
			<div class="header-centre">
				<a class="header-centre-inner" href="%?homelink?%">
					<img class="logo" src="../img/phishwarn-logo.png" alt="Logo">
					<span class="headline">PhishWarn</span>
				</a>
				
				<div class="header-right">
					<a href="%#de#%" title="German translation">
						<img class="header-flag flag-de" src="../emojis/de.svg" alt="German">
						<img class="header-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" alt="German">
					</a>
				</div>
			</div>
		</div>