				<a class="card" href="https://www.kuketz-blog.de/phishing-das-abfischen-von-zugangsdaten-vermeiden/">
					<img class="card-img" src="../img/kuketz-preview.png" alt="Screenshot einer Phishing-Mail">
					<span class="card-headline">
						<img alt="Deutsch" class="card-flag flag-de" src="../emojis/de.svg" title="Auf Deutsch"> 
						<img alt="Deutsch" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="Auf Deutsch"> 
						Phishing: Das Abfischen von Zugangsdaten vermeiden
					</span>
					<p class="card-description">
						Sicherheits- und IT-Experte Mike Kuketz erklärt, wie Phishing technisch funktioniert und wie man sich dagegen schützen kann.
					</p>
					<span class="card-link">
						kuketz-blog.de
					</span>
				</a>