				<a class="card" href="https://mobilsicher.de/ratgeber/dauerbrenner-phishing">
					<img class="card-img" src="../img/mobilsicher-preview.png" alt="Mobilsicher-Logo">
					<span class="card-headline">
						<img alt="Deutsch" class="card-flag flag-de" src="../emojis/de.svg" title="Auf Deutsch"> 
						<img alt="Deutsch" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="Auf Deutsch"> 
						Dauerbrenner Phishing: So schützen Sie sich
					</span>
					<p class="card-description">
						Phishing ist eine altbekannte Methode, die immer wieder in neuem Gewand auftaucht. 
						Wie Sie Phishing-Maschen erkennen und wie Sie am besten damit umgehen, erklären wir hier.
					</p>
					<span class="card-link">
						mobilsicher.de
					</span>
				</a>