				<a class="card" href="https://www.ncsc.gov.uk/guidance/suspicious-email-actions">
					<img class="card-img" src="../img/ncsc.png" alt="NCSC-Logo">
					<span class="card-headline">
						<img alt="Englisch" class="card-flag" src="../emojis/uk.svg" title="Auf Englisch"> Mit verdächtigen, E-Mails, Anrufen und Chatnachrichten umgehen
					</span>
					<p class="card-description">
						Wie man die offensichtlichsten Anzeichen eines Betrugs erkennt und was man machen soll,
						wenn man bereits geantwortet hat.
					</p>
					<span class="card-link">
						ncsc.gov.uk
					</span>
				</a>