				<a class="card" href="https://www.ncsc.gov.uk/guidance/suspicious-email-actions">
					<img class="card-img" src="../img/ncsc.png" alt="NCSC's logo">
					<span class="card-headline">
						<img alt="English" class="card-flag" src="../emojis/uk.svg" title="In English"> Dealing with suspicious emails, phone calls and text messages
					</span>
					<p class="card-description">
						How to spot the most obvious signs of a scam, and what to do if you've already responded.
					</p>
					<span class="card-link" >
						ncsc.gov.uk
					</span>
				</a>