			<a class="teaser teaser-green" href="how-to-prevent-being-phished.html">
				<div class="teaser-left">
					<span class="teaser-headline">How to prevent being phished?</span>
					<p class="teaser-description">
						Here are some online safety measures that you should take immediately. Don't wait until it's too late!
					</p>
				</div>
				
				<div class="teaser-right">
					<span class="teaser-arrow">
						<i class="fas fa-chevron-circle-right"></i>
					</span>
				</div>
			</a>