			<a class="teaser teaser-green" href="how-to-prevent-being-phished.de.html">
				<div class="teaser-left">
					<span class="teaser-headline">Wie verhindert man, gephisht zu werden?</span>
					<p class="teaser-description">
						Hier sind einige Online-Sicherheitsmaßnahmen, die du schnellstmöglich ergreifen solltest. Warte nicht, bis es zu spät ist!
					</p>
				</div>
				
				<div class="teaser-right">
					<span class="teaser-arrow">
						<i class="fas fa-chevron-circle-right"></i>
					</span>
				</div>
			</a>