			<a class="teaser teaser-blue" href="how-to-recognize-phishing.html">
				<div class="teaser-left">
					<span class="teaser-headline">How to recognize phishing?</span>
					<p class="teaser-description">
						Recognizing phishing can be quite difficult. Here are some indicators that may tell you that a message is suspicious.
					</p>
				</div>
				
				<div class="teaser-right">
					<span class="teaser-arrow">
						<i class="fas fa-chevron-circle-right"></i>
					</span>
				</div>
			</a>