			<a class="teaser teaser-blue" href="how-to-recognize-phishing.de.html">
				<div class="teaser-left">
					<span class="teaser-headline">Woran erkennt man Phishing?</span>
					<p class="teaser-description">
						Phishing zu erkennen, kann ziemlich schwer sein. Hier sind einige Anzeichen, die einem sagen können, ob eine Nachricht verdächtig ist.
					</p>
				</div>
				
				<div class="teaser-right">
					<span class="teaser-arrow">
						<i class="fas fa-chevron-circle-right"></i>
					</span>
				</div>
			</a>