				<a class="card" href="https://www.verbraucherzentrale.de/wissen/digitale-welt/phishingradar/phishingradar-aktuelle-warnungen-6059">
					<img class="card-img" src="../img/phishing-vr.png" alt="German example screenshot of phishing mail">
					<span class="card-headline">
						<img alt="German" class="card-flag flag-de" src="../emojis/de.svg" title="In German">
						<img alt="German" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="In German">
						German examples for phishing attempts
					</span>
					<p class="card-description">
						The German Consumer Protection Agency has a list of recent phishing attempts that you should definitly check out.
					</p>
					<span class="card-link">
						verbraucherzentrale.de
					</span>
				</a>