				<a class="card" href="https://www.verbraucherzentrale.de/wissen/digitale-welt/phishingradar/phishingradar-aktuelle-warnungen-6059">
					<img class="card-img" src="../img/phishing-vr.png" alt="Screenshot einer Phishing-Mail">
					<span class="card-headline">
						<img alt="Deutsch" class="card-flag flag-de" src="../emojis/de.svg" title="Auf Deutsch"> 
						<img alt="Deutsch" class="card-flag flag-de-darkmode" src="../emojis/de-darkmode.svg" title="Auf Deutsch">  
						Beispiele für Phishing-Versuche
					</span>
					<p class="card-description">
						Die Verbraucherschutzzentrale zeigt eine Liste kürzlicher Phishing-Versuche, die du dir unbedingt ansehen solltest.
					</p>
					<span class="card-link">
						verbraucherzentrale.de
					</span>
				</a>